<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= device_name %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/directory.css?v=8">
    <script defer src="/js/directory.js?v=1.0"></script>
</head>
<body>
    <header>
        <h1><%= device_name %></h1>

        <div class="header-info">
            <span class="path-segments">
                
            </span>
            <span class="dir-info"></span>
        </div>
        <hr>
    </header>
    <main>
        <ul class="ul-files">
            Loading..                
        </ul>
        <div class="loading-circle"></div>
        <div class="image-display">
            <div class="image-settings">
                <button class="close">Close</button>
            </div>
            <img class="image"> </img>
            
            <div class="left-arrow"></div>
            <div class="right-arrow"></div>
        </div>
    </main>
</body>
</html>
