html
{
    height: 100%;
}


body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
    max-width: max(75vw, 600px);
    margin: 0 auto;
    padding: 20px 0;
}

.header-info{
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto; /* Don't grow, don't shrink, auto height */

}

h1
{
    margin-top: 0;
}
main
{
    flex: 1 1 auto;
    position: relative;
}

.ul-files{
    padding: 0;
    display: grid;
    
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    list-style:none;
}

.file-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.file-container:hover
{
    cursor: pointer;
}

.file-name
{

    text-align: center;
    font-size:small;
    overflow-wrap: break-word;
    width: 100px;
}
.file-icon
{
    max-width:100%;
    max-height:75px;
    height: auto;
    width:auto;

    vertical-align: bottom;
    /* height: 75px; */
}

.path-segments
{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.path-segments .segment
{
    color: orange;
}

.path-segments .segment:hover
{
    cursor: pointer;
}

.file-icon-container
{
    position: relative;
}

.play-video-icon
{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 20px;
    filter: hue-rotate(300deg); 
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to { 
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading-circle
{
    position: absolute;
    border: solid 10px var(--text-bright);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;


    margin: 0;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: rotate;
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 

}
